/* 
#2ECC40 verde header

#FFDC00 amarelo

#F012BE rosa

#0074D9 Azul

#FF4136 vermelho

#01FF70 verde

#B10DC9 roxo
*/
*{
    text-align: center;

}
.container{
    max-width: 100%;
    background-color: #A8BBC6;
    display: flex;
    flex-direction: column;
}

#linhaheader{
    display: flex;
    align-items: flex-start;
}
#header{
    background-color: #01FF70;
    display: flex;
    width: 25%;

}
#menu{
    background-color: #FFDC00;
    width: 75%;
    display: flex;
}




#content1{
    background-color: #F012BE;
    width: 100%;
    align-self: center;
}
#content2{
    background-color: #0074D9;
    width: 50vw;
}
#image{
    background-color: #FF4136;
    width: 25vw;
    display: flex;
    align-items: flex-start;

}
#extra{
    background-color: #01FF70;
    width: 25vw;
    display: flex;
    align-items: flex-end;

}
#footer{
   background-color: #B10DC9;
   display: flex;
   align-items: flex-end;
   width: 100%;
}



#linhameio{
    display: flex;
    width: 100%;
    justify-content: space-between;
}