*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


h1{
  font-family: 'Righteous', cursive;
}

.botoes button{
  width:20vw;
  height: 20vw;
  border-radius: 100%;
  background-color: white;
  border:none;
  transition:0.5s
}

.botoes button:focus{
  outline:none;
}

.botaoNope :active{
  color:white;
  background-color:red;
}

.botaoYep:active{
  color:white;
  background-color:green;
}

.white{
  color:white;
}

@media (min-width: 500px) {
  .botoes{
    background-color: black;
  }

}